:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555;
  --secondary-text-color-theme-dark: #fff;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

ol,
.list {
  list-style: none;
}

.link {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*=================Components========================*/

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.modul-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 11px 23px 11px 23px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--secondary-text-color-theme-dark);
}
.modul-btn:hover,
.modul-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}
.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36x;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* color: rgba(157, 164, 189, 0.6); */
}

.suptitle-theme-dark {
  margin-bottom: 44px;
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-theme-light {
  margin-bottom: 20px;
  color: var(--secondary-text-color-theme-light);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-description-light {
  color: var(--primary-text-color-theme-dark);
}

.section-description-dark {
  color: var(--primary-text-color-theme-light);
}

.title-section {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.title-services {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  /* color: var(--secondary-text-color-theme-dark); */
}

/*=================Components========================*/

/*=================Header========================*/

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
  font-size: 12px;
  line-height: 1.33x;
  letter-spacing: 0.1em;
  text-decoration: none;
  /* color: var(--secondary-text-color-theme-dark); */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone-number {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  /* color: var(--secondary-text-color-theme-dark); */
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}

/*=================Header========================*/

/*=================Hero=================================*/

.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  /* color: var(--secondary-text-color-theme-dark); */
}

/*=================Hero=================================*/

/*=================About us=============================*/

.text-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

/*=================About us=============================*/

/*=================Services=============================*/

.table-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

/*=================Services=============================*/

/*=================Advantages===========================*/

.advantages-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36x;
  /* text-align: center; */
  color: #303030;
}

/*=================Advantages===========================*/

/*=================Our team=============================*/

.our-team {
  background-color: #f7f7f7;
}

.our-team-title {
  margin-bottom: 44px;
}

.employees-list-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.master-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.list-our-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team-item {
  flex-basis: calc(100%-60 / 3);
}

.employees-card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* .our-team-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.our-team-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

/*=================Our team=============================*/

/*=================Online/Contacts=======================*/

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  text-decoration: none;
  text-align: none;
}

.contacts-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
/*=================Online/Contacts=======================*/

/*=================Footer================================*/

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}

/*=================Footer================================*/
